<div class="navbar  h-nav-resp"  id="navigation">
        
    <div class="logo " id="book_logo"><img src="img/book_logo1.png" alt="logo"></div>
    <div class="item"><a href="#home">Home</a></div>
    <div class="item"><a href="#about">About</a></div>
    <div class="item"><a href="#contact">Contact</a></div>
    <div class="item"><a href="#box">Content</a></div>
    <div class="item"><a href="/register">register</a></div>
  
<div class="item" id="search_box">
<input type="text" name="search" id="search">
<button class="btn btn-sm">search</button></div>
<div class="burger" onclick="func()">
   <div class="line"></div>
   <div class="line"></div>
   <div class="line"></div>
</div>
</div>